* {
 font-family: Helvetica; 
 color: #27445C;
 text-align: center;
}
body {
 background-image: url("bgframe.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
h1 { 
 font-family: 'CoelacanthRegular'; 
}
