* {
 font-family: 'CoelacanthRegular';
 color: #27445C;
 text-align: center;
}
body {
 background-image: url("bgframe.jpg");
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
}
h1 { 
 font-family: 'CoelacanthRegular'; 
}
.topnav {
  background-color: #27445C;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
.topnav a:hover {
  background-color:	#ccffee;
  color: #27445C;
}
.topnav a.active {
  background-color: #ff6666;
  color: #f2f2f2;
}

.column {
  width:30%;  
  display:inline-block;
 background-color: white;
}

.centertext {
  position: absolute;
 width: 50%;
 height: 50%;
  margin-width: -100px;
}


